### Alligo
###  Tempo de expirar conteudo, Início
#   @see  http://httpd.apache.org/docs/2.0/mod/mod_deflate.html

# Expires
<IfModule mod_expires.c>
  ExpiresDefault "access plus 2 months"

  # Imagens
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType audio/x-wav "access plus 1 month"
  ExpiresByType audio/mpeg "access plus 1 month"
  ExpiresByType video/mpeg "access plus 1 month"
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/quicktime "access plus 1 month"
  ExpiresByType video/x-ms-wmv "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"

  # Conteudo
  ExpiresByType text/css "access plus 1 hour"
  ExpiresByType text/javascript "access plus 1 hour"
  ExpiresByType application/javascript "access plus 1 hour"
</IfModule>

# Etags
Header unset ETag
FileETag None
###  Tempo de expirar conteudo, Fim